.portugol {
   
    width: 98%;
    height: 601px;
    font-family: "Roboto Mono", monospace;
    background-color: rgb(43, 40, 40);;
}
#enunciado {
    width: 50%;
    font-size: 70%;
    font-family: "Roboto Mono", monospace;
    overflow: auto;
    white-space: nowrap;
}
body, head{
    background-color: black;
    width:  100%;
    height: 100vh;
    overflow: hidden
}
#container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(21, 182, 16);
}

#error{   
    color: rgb(255, 0, 0);
    border: 2px solid rgb(21, 182, 16);
    height: 100vh;
    width:  20%;
    padding: 0.3%;
    font-size: 70%;
    background-color:rgb(43, 40, 40);
}

@media (max-width: 600px) {
    #error {
        display: none;
        width: 0%;
        height: 0%;
        z-index: 0;
    }

    #code {
        width: 100% !important;
        z-index: 1;
    }
}



#botaoSubmit{
    width: fit-content;
    float: left;
    display: inline;
    background-color: rgb(26, 179, 21);
    border-color: rgb(26, 179, 21);    
    height: 100%;
}


#enunciadotext{
    display: inline;
    background-color:rgb(43, 40, 40);
    color: white;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.cm-bracket {
    color: #444444 !important; 
    font-weight: bold;
}
.cm-programa{
    color: #424242 !important; 
    font-weight: bold;
}
.cm-inicio{
    color: #6e6e6e !important; 
    font-weight: bold;
}

#enunciado{
    color: white;
    border: 2px solid rgb(21, 182, 16);
    height: min-content;
    width: 100%;
    background-color:rgb(43, 40, 40);
    text-align: center;
    display: inline;
 
}
#code{
    color: white;
    border: 2px solid rgb(21, 182, 16);
    height: 100vh;
    width: 85%;
    background-color: rgb(43, 40, 40);
}
#errode{
    display: flex;
    flex-direction: row ;
}
